@font-face {
    font-family: 'stazin' ;
    src: url('fonts/Stazin-Medium.ttf') format('truetype');
}
.stazinfont{
font-family: 'stazin', sans-serif;
}

@font-face {
    font-family: 'larkenReg';
    src: url('fonts/Larken\ Regular.ttf') format('truetype');
}

.larkenRegFont{
    font-family: 'larkenReg', sans-serif;
}

@font-face {
    font-family: 'larkenMed';
    src: url(fonts/Larken\ Medium.ttf) format('truetype');
}

.larkenMedFont{
    font-family: 'larkenMed', sans-serif;
}

@font-face {
    font-family: 'larkenBold';
    src: url(fonts/Larken\ Bold.ttf) format('truetype');
}

.larkenBoldFont{
    font-family: 'larkenBold';
}
@font-face {
    font-family: 'larkenBlack';
    src: url(fonts/Larken\ Black.ttf) format('truetype');
}

.larkenBlackFont{
    font-family: 'larkenBlack';
}

@font-face {
    font-family: 'vidaloka';
    src: url(fonts/Vidaloka-Regular.ttf) format('truetype');
}

.vidalokaFont{
    font-family: 'vidaloka';
}

* {
    box-sizing: border-box;
}

body{ 
    background-color: #fff8ea;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}

header{
    background-color: #ffd7ea;
    border-bottom: 6px dotted #e46fa4;
    width: 100%;
    display: flex;   
    align-items: center;        
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 30px;
 
}

.brand img{
    width: 90px;
        filter: drop-shadow(2px 3px 6px rgba(0, 0, 0.5));
}

.brand{
    display: flex;
    align-items: center;
    gap: 20px;
}
.titleLogo{
    color: #e46fa4;
    font-family: 'stazin', sans-serif;
    font-size: clamp(30px, 8vw, 80px);
    -webkit-text-stroke: 7px #f9f1de;
    paint-order: stroke fill;
        text-shadow:
        5px 5px #fff8df,
        -5px -5px #fff8df,
        5px -5px #fff8df,
        -5px 5px #fff8df;
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0.5));

}

nav{
    display: flex;
    align-items: center;
    gap: clamp(20px, 5vh,40px);

}

nav a{ 
    border-radius: 20px;
    color:#e46fa4;
    font-family: 'larkenBlack';
    font-size: clamp(20px, 4vh, 24px);
    text-decoration: none;
    white-space: nowrap;
    padding: 20px;
}

.navigateBars {
      padding: 0px;
}

.socials{
    display: flex;
    align-items: center;
    gap: 15px;
}
nav img{
    width: 50px;
}

@media (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

