@font-face {
    font-family: 'stazin' ;
    src: url('fonts/Stazin-Medium.ttf') format('truetype');
}
.stazinfont{
font-family: 'stazin', sans-serif;
}

@font-face {
    font-family: 'larkenReg';
    src: url('fonts/Larken\ Regular.ttf') format('truetype');
}

.larkenRegFont{
    font-family: 'larkenReg', sans-serif;
}

@font-face {
    font-family: 'larkenMed';
    src: url(fonts/Larken\ Medium.ttf) format('truetype');
}

.larkenMedFont{
    font-family: 'larkenMed', sans-serif;
}

@font-face {
    font-family: 'larkenBold';
    src: url(fonts/Larken\ Bold.ttf) format('truetype');
}

.larkenBoldFont{
    font-family: 'larkenBold';
}
@font-face {
    font-family: 'larkenBlack';
    src: url(fonts/Larken\ Black.ttf) format('truetype');
}

.larkenBlackFont{
    font-family: 'larkenBlack';
}

@font-face {
    font-family: 'vidaloka';
    src: url(fonts/Vidaloka-Regular.ttf) format('truetype');
}

.vidalokaFont{
    font-family: 'vidaloka';
}

body{
    background-color: #677030;
    margin: 0;
}

header img{
    width: 150px;
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0.5));
    margin-top: 80px;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.titleLogo{
    color:#677030;
    font-family: 'stazin', sans-serif;
    font-size: 150px;
    -webkit-text-stroke: 7px #f9f1de;
    paint-order: stroke fill;
        text-shadow:
        5px 5px #fff8df,
        -5px -5px #fff8df,
        5px -5px #fff8df,
        -5px 5px #fff8df;
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0.5));
    width: 100%;
    height: 100%;
    margin-top: -55px;
}

main{
    padding: 90px;
}
main h1{
color: #677030;
font-family: 'vidaloka';
font-size: 50px;
font-weight: 200px;
}